@import "tailwindcss";

:root {
  --background: #171615;
  --layer: #3D3938;
  --foreground: #e8eaf0;
}

@font-face {
    font-family: 'Minercraftory';
    font-style: normal;
    font-weight: 400;
    src: local('Minercraftory'), url('https://fonts.cdnfonts.com/s/46126/Minercraftory.woff') format('woff');
}

@theme inline {
    --color-layer: var(--layer);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-noto-sans);
    --font-display: var(--font-cinzel);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.noto-sans {
    font-family: var(--font-sans), sans-serif;
    font-weight: 800;
}

.mc {
    font-family: 'Minercraftory', sans-serif;
}
